body
{
color:#CCCCCC;
background-color:#000000;
}

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input
{
font-family: helvetica,verdana,arial,sans-serif;
}

a:link {color: #444444; text-decoration: underlined; font-weight:normal;}
a:visited {color: #444444; text-decoration: none; font-weight:normal;}
a:hover {color: #888888; text-decoration: underlined; font-weight:normal;}
a:active {color: #888888; text-decoration: underlined; font-weight:normal;}